Source: cobbler
Section: misc
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Jasper Poppe <jpoppe@ebay.com>
Build-Depends: debhelper (>= 7.0.50),
 python-cheetah, 
 python-yaml, 
 git-core, 
 python-support,
 python-setuptools,
 python-nose
Standards-Version: 3.8.0
Homepage: https://fedoraproject.org/cobbler

Package: cobbler
Architecture: all
Depends: cobbler-common (= ${binary:Version}), ${misc:Depends}, ${python:Depends}, python, apache2, libapache2-mod-python, python-yaml, python-netaddr, python-cheetah, python-simplejson, python-urlgrabber, syslinux | syslinux-common, 
 lsb-release, python-django, libapache2-mod-wsgi
Recommends: hardlink
Suggests: rsync, tftpd-hpa, genisoimage, dhcp3-server, createrepo
Description: Install server
 Cobbler is a network install server. Cobbler supports PXE, virtualized installs, and
 reinstalling existing Linux machines. The last two modes use a helper tool, 'koan', 
 that integrates with cobbler. Cobbler's advanced features include importing 
 distributions from DVDs and rsync mirrors, kickstart templating, integrated yum
 mirroring, and built-in DHCP/DNS Management. Cobbler has a Python and XMLRPC API 
 for integration with other applications. There is also a web interface.

Package: cobbler-common
Architecture: all
Depends: ${misc:Depends}
Description: Cobbler Install server - common files
 Cobbler is a network install server. Cobbler supports PXE, virtualized installs, and
 reinstalling existing Linux machines. The last two modes use a helper tool, 'koan',
 that integrates with cobbler. Cobbler's advanced features include importing
 distributions from DVDs and rsync mirrors, kickstart templating, integrated yum
 mirroring, and built-in DHCP/DNS Management. Cobbler has a Python and XMLRPC API
 for integration with other applications. There is also a web interface.
 .
 This package includes the common files.
