#!/usr/bin/make -f

# Verbose mode
# export DH_VERBOSE=1

%:
	dh $@ --with python2,javahelper

override_dh_auto_build:
	$(MAKE)
	ant -f cobbler4j/build.xml

override_dh_auto_clean:
	dh_auto_clean
	ant -f cobbler4j/build.xml clean

override_dh_auto_test:
	nosetests cobbler/*.py || true

override_dh_auto_install:
	$(MAKE) debinstall DESTDIR=$(CURDIR)/debian/tmp
