#!/usr/bin/make -f

# Verbose mode
# export DH_VERBOSE=1

%:
	dh $@ --with python2

override_dh_auto_build:
	$(MAKE)

override_dh_auto_test:
	nosetests cobbler/*.py || true

override_dh_auto_install:
	$(MAKE) debinstall DESTDIR=$(CURDIR)/debian/tmp
